.contact
{
  font: normal 100%/1.5 "Titillium Web",sans-serif;
  width:80%;
  margin:auto;
  position: relative;
}
.contact h3:nth-child(1)
{
  padding-bottom: 10px;
  display: block;
}
.contact .line
{
  text-align:center;
  display:block;
  border-top:1px solid #000;
  width:60%;
  margin:auto;
}
.contact .line span
{
  position: relative;
  bottom: 13px;
  background:#fff;
  display:inline-block;
  margin:auto;
}
.contact hr
{
  height: 1px;
  background: #000;
  width:60%;
}
.contact .main-block
{
  width:100%;
  margin:auto;
}
.contact .social
{
  height:80px;
  background:#eee;
  width:80px;
  display:inline-block;
}
@media (max-width:553px)
{
  .contact .social
  {
    display:block;
    margin:auto;
    margin-bottom:5px;
  }
}
.contact i
{
  font-size:40px;
  line-height:80px;
}
.contact .social:hover
{
  border-bottom:6px solid #ffcc33;
}
.contact .a1
{
  background:#109f9a;
  color:#fff;
}
.contact .a2
{
  background:#000;
  color:#fff;
}
.contact .a3
{
  background:#6abf43
}
.contact .a4
{
  background:#62a9e0;
  color:#fff;
}
.contact .a5
{
  background:#3b5998;
  color:#fff;
}
.contact .a2 i
{
  
}